{% extends 'common.html' %}
{% load static %}
{% block img1 %}
<img src="{% static 'images/h1.jpg' %} " class="rounded mx-auto d-block" width="300" height="300">
{% endblock %}
{% block img2 %}
<img src="{% static 'images/h2.jpg' %}" class="rounded mx-auto d-block" width="300" height="300">
{% endblock %}
{% block img3 %}
<img src="{% static 'images/h3.jpg' %}" class="rounded mx-auto d-block" width="300" height="300">
{% endblock %}

{% block n1 %}

    <b style="color: red;font-size: medium;text-align: center">Tiger Sharoff</b>
{% endblock %}

{% block n2 %}
    <b style="color: red;font-size: medium;text-align: center" >John Abrahim</b>


{% endblock %}

{% block n3 %}

    <b style="color: red;font-size: medium;text-align: center" > Akshay Kumar</b>

{% endblock %}

{% block name %}
         <b style="color: navy;font-size: large;" > Heros</b>


{% endblock %}<br><br>
{% block home %}
<div class="text-left">

    <a href="{% url 'index' %}" ><button type="button" class="btn btn-dark">BackToHome</button></a>

</div>

{% endblock %}