<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor=#8a2be2>
<font size="4">
<table align="center">
      <tr>
        <th colspan="2"><img src="maxresdefault.jpg" height="60" width="60"></th>
          <th colspan="4"><h1 style="color: red" > <b>Smart Inventory Management</b></h1> </th></tr>
          <tr><th colspan="8"><h3 style="color: floralwhite">You need our requirement</h3></th></tr>


    <tr ><th><button type="button" style="background: #9370db">Employee</button> </th>
    <th><button type="button"  style="background: #9370db">Tenders</button> </th>
        <th><button type="button"  style="background: #9370db">Quations</button> </th>
        <th><button type="button"  style="background: #9370db">Vendor Reports</button> </th>
        <th><button type="button"  style="background: #9370db">Employee Reports</button> </th>
        <th><button type="button"  style="background: #9370db">Inwards Reports</button> </th>
    </tr>

    <tr ><th><button type="button"  style="background: #9370db">Payment Reports</button> </th>
    <th><button type="button"  style="background: #9370db">View Profile</button> </th>
        <th><button type="button"  style="background: #9370db">Update Profile</button> </th>
        <th><button type="button"  style="background: #9370db">Change Password</button> </th>
        <th><button type="button"  style="background: #9370db">Approve Vendor</button> </th>
        <th><button type="button"  style="background: #9370db">Inwards LogOut</button> </th>
    </tr>
</table>
<br>

<table align="center"> <tr><th colspan="2">
<table border="2" bgcolor="#ffe4c4">


    <tr> <th colspan="2" bgcolor="#3cb371"><font color="red">Regstration Form </font></th></tr>
    <tr><td><input type="text" name="idno" placeholder="IDNO"></td></tr>
    <tr><td colspan="2"><input type="text" placeholder="Username"></td></th1></tr>
    <tr><td>Type:<select name="type">
        <option>Area Manager</option>

    </select></td></tr>
    <tr><td><input type="tel" placeholder="Contact_No"></td></tr>
    <tr><td><input type="email" placeholder="Email-id"></td></tr>
    <tr><td><input type="password" placeholder="Password"></td></tr>
    <tr><th><button type="submit">Add</button> </th></tr>
</table>
    </th><th colspan="4">
<table border="2" align="center">
    <tr bgcolor="#f0ffff"><th>Idno</th><th>Name</th><th>User_Type</th><th>View</th><th>Update</th><th>Delete</th></tr>

        <tr bgcolor="#9370db"><th>101</th><th>admin</th><th>Analyzer</th><th><a href="view.py">Yes</a> </th><th><a href="yes.py">Yes</a></th>
      <th>     <a href="delete.py">Yes</a></th></tr>

<tr bgcolor="#ffe4c4"><th>102</th><th>kumar</th><th>Analyzer</th><th><a href="view.py">Yes</a> </th><th><a href="yes.py">Yes</a></th>
        <th>   <a href="delete.py">Yes</a></th></tr>

<tr bgcolor="#9370db"><th>103</th><th>Mohan</th><th>Analyzer</th><th><a href="view.py">Yes</a> </th><th><a href="yes.py">Yes</a></th>
         <th>  <a href="delete.py">Yes</a></th></tr>
<tr bgcolor="#ffe4c4"><th>104</th><th>Murali</th><th>Area Manager</th><th><a href="view.py">Yes</a> </th><th><a href="yes.py">Yes</a></th>
        <th>   <a href="delete.py">Yes</a></th></tr>
<tr bgcolor="#9370db"><th>105</th><th>bhaskar</th><th>Area Manager</th><th><a href="view.py">Yes</a> </th><th><a href="yes.py">Yes</a></th>
          <th> <a href="delete.py">Yes</a></th></tr>
<tr bgcolor="#ffe4c4"><th>106</th><th>lakshmi</th><th>Analyzer</th><th><a href="view.py">Yes</a> </th><th><a href="yes.py">Yes</a></th>
           <th><a href="delete.py">Yes</a></th></tr>

</table>
    </th></tr></table>
    </font>
<h1 style="font-family: Chiller; size:6px">
Employee IDNO:    {{ idno }}<br>
Employee NAME:    {{ name }}<br>
Employee SALARY:  {{ salary }}
    </h1>
</body>
</html>