<html>
<body>
<form method="post" action="{% url 'save' %}">
    {% csrf_token %}
<table align="center" border="2">
    {{ form }}
    <tr>
        <th colspan="2"><button type="submit">Save</button> </th>
    </tr>
</table>
    {% for x in messages %}
    <tr>
        <th>
            {% if x.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <h3 style="color: red">***{{ x }}</h3>
            {% else %}
            <h3 style="color: green">{{ x }}</h3>
            {% endif %}
        </th>
    </tr>
{% endfor %}
    </form>

</body>
</html>