<html>
<body>
<br><br>
<h1 style="text-align: center;color: red;font-family: 'chiller'"><b>Welcome Youth</b></h1><br><br>
<h2 style="text-align: center;color: darkgreen">Please select the area in which you want to make carreer</h2><br><br>
<div style="text-align: center">
<a href="{% url 'sport' %}"><button type="button">Sport</button> </a><br><br>
<a href="{% url 'education' %}"><button type="button">Education</button> </a><br><br>
<a href="{% url 'job' %}"><button type="button">Searching for job</button> </a><br><br>
<a href="{% url 'startup' %}"><button type="button">Startup</button> </a><br><br>


</div>
</body>
</html>