<html>
<body>
<a href="{% url 'addOwner' %}"><button type="button">Add Owner</button> </a><br><br>
<a href="{% url 'showOwner' %}"><button type="button">show Owner</button> </a><br><br>
<a href="{% url 'addcomany' %}"><button type="button">Add Company</button> </a><br><br>
<a href="{% url 'showcompany' %}"><button type="button">show show Companies</button> </a><br><br>
<a href="{% url 'addBranch' %}"><button type="button">Add Branch</button> </a><br><br>
<a href="{% url 'showBranch' %}"><button type="button">show Branchs</button> </a><br><br>

<a href="{% url 'add_cust' %}"><button type="button">Add Customer</button> </a><br><br>
<a href="{% url 'show_cust' %}"><button type="button">show Cust</button> </a><br><br>



</body>
</html>