<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>products</title>
  </head>
  <body>
  <br><br>
    <h1 style="text-align: center;color: darkslategrey">View Product</h1>
  <br><br>
<br>
  {% for x in data %}
      <div align="center">
<div class="card mb-3" style="max-width: 540px;" >
  <div class="row no-gutters">
    <div class="col-md-4">
     <a href="{{ x.pimg.url }}"> <img src="{{ x.pimg.url }}" class="card-img" ></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">  <b style="color: red;font-family: 'Arial Black'"> {{ x.pname }}</b></h5>
        <p class="card-text"><b style="color: green">  {{ x.pprice }} <b style="color: darkblue">$</b> </b></p>
        <p class="card-text"><small class="text-muted" style="color: dimgrey">Product dispriction coming soon...</small></p>
      </div>
    </div>

  </div>

</div>


         <a href="{% url 'update' %}?pid={{ x.pid }}"> <button type="button" class="btn btn-primary">Update</button></a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'delete' %}?id={{ x.pid }}"> <button type="button" class="btn btn-danger">Delete</button></a>
<br><br><br>
{% endfor %}
  <br>
  {% for x in data.paginator.page_range %}
<a href="{% url 'show_product' %}?p={{ x }}">  {{ x }}</a>

  {% endfor %}
<br>
  <br>
 <a href="{% url 'main' %}"><button type="button" class="btn btn-info">Back</button></a>
<br>
  </div>
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>