<html>
<body>
<form method="post" action="/data/">

    {% csrf_token %}
<table align="center" >
    <tr><th>First Name</th><th><input type="text" name ="fname"required id="fn"></th></tr>
    <tr><th>Last Name</th><th><input type="text" name="lname" id="ln" required></th></tr>
    <tr><th colspan="2"><button type="submit">SHOW</button> </th></tr>
    {% if name %}
    <tr><th colspan="2"><span id="ffn" style="color: green">{{ name }}</span> </th></tr>
       {% else %}
            <tr><th colspan="2"><span id="ffn" style="color: red">{{ err }}</span> </th></tr>

{% endif %}
</table>
    </form>
</body>
</html>