<html>
<body>
<br>
<h2><a href="{% url 'index' %}">Back</a> </h2>
<br>
<form method="post" action="{% url 'register_student' %}">
    {% csrf_token %}
<table align="center" border="2">
    <tr><th>Add Student</th></tr>

    <tr>
        <th>
            <input type="number" name="s1" placeholder="Student Id" required>
        </th>
    </tr>
    <tr>
        <th>
            <input type="text" name="s2" placeholder="Name" required>
        </th>
    </tr>
    <tr><th>
        <input type="tel" name="s3" placeholder="ContactNumber" required>
    </th></tr>
    <tr>
        <th>
            Course:
            <select name="s4" multiple required>
                {% for x in data %}
                <option value="{{ x.courseId }}">{{ x.courseName }}</option>
                {% endfor %}
            </select>
        </th>
    </tr>
<tr>
    <th><button type="submit">Save</button> </th>
</tr>
{% for x in messages %}
<tr>
    <th>{{ x }}</th>
</tr>
{% endfor %}
</table>
</form>

</body>
</html>