<html>
<body bgcolor="#6a5acd">
<br>
<h1 align="center" style="color: red" >Welcome...</h1>
<br><br>
<table align="center" cellpadding="8px" cellspacing="8px">
    <tr></tr><tr></tr>
    <tr bgcolor="blue" style="color: yellow">
        <th>HOME</th>
<th>DISEASE<select name="disease">
    <option></option>


</select></th>
<th>Medicine<select name="medicine">
    <option></option>
</select></th>
<th>REPORT<select name="report">
    <option>
    </option>
</select></th><th>
LOGOUT</th>
    </tr>
    <tr></tr><tr></tr>
<tr style="color: navy"><th colspan="4"><h1>E-HEALTHCARE ADVISOR</h1></th></tr>
</table>
<table align="center" border="2" cellspacing="10px" cellpadding="10px" bgcolor="#d2b48c">
    <tr><th colspan="4"></th></tr>
    <tr bgcolor="yellow" style="color: red"><th>DISEASE NAME</th><th>SYMPTONS</th><th>UPDATE</th><th>DELETE</th></tr>
            <tr><th>Denguee</th><th>vomiting,fever</th><th><a href="a">Yes</a> </th><th><button>YES,DELETE</button></th></tr>

        <tr><th>Fever</th><th>vomiting</th><th><a href="a">Yes</a> </th><th><button>YES,DELETE</button></th></tr>

    <tr><th>Fever</th><th>vomiting</th><th><a href="a">Yes</a> </th><th><button>YES,DELETE</button></th></tr>
        <tr><th>Fever</th><th>vomiting</th><th><a href="a">Yes</a> </th><th><button>YES,DELETE</button></th></tr>

</table>
</body>
</html>